html {
  font-size: 10px;
}
#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  /* background-color: rgba(201, 201, 201, 0.856); */
  background-color: rgb(243 244 247);
}
body {
  display: flex;
}
.test_cont {
  display: block;
  width: 500px;
  height: 200px;
}
.app_cont {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  overflow: scroll;
  height: 82.5vh;
  width: 100%;
}
.font_blue {
  color: rgb(2, 100, 253);
}
.font_gray {
  color: rgb(134 138 147);
}
.font_bold {
  font-weight: bold;
}
.font_2rem {
  font-size: 2rem;
}
.font_1_6rem {
  font-size: 1.6rem;
}
.font_1_4rem {
  font-size: 1.4rem;
}
.font_1_2rem {
  font-size: 1.2rem;
}
.font_1_rem {
  font-size: 1rem;
}
@media screen and (max-width: 1024px) {
  .app_cont {
    height: 100%;
    width: 100%;
  }
}
